h3{
    background: linear-gradient(30deg, blue, red);
    -webkit-background-clip:text;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    text-align: center;
    color: #333;
    margin-top: 5%;
    margin-bottom: 5%;
}